<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load media cms blog %}
{% load lang %}
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} | {% t site_name %}</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    {% block blogfeeds %}
      {% blog_feeds %}
    {% endblock %}
    {% block css %}
      {% if google_custom_search_id %}
        <link rel="stylesheet" type="text/css" href="http://www.google.com/cse/style/look/greensky.css" />
      {% endif %}
      {% include_media 'main.css' %}
    {% endblock %}

    {% block preload_js %}
      {% if google_analytics_id %}
        <script type="text/javascript">
        /* <![CDATA[ */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics_id|escapejs }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        /* ]]> */
        </script>
      {% endif %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="header">
      {% if google_custom_search_id %}
        <div id="search">
          <div id="cse-search-form">Loading...</div>
          <script src="http://www.google.com/jsapi" type="text/javascript"></script>
          <script type="text/javascript">
            google.load('search', '1', {language : 'en'});
            google.setOnLoadCallback(function(){
              var customSearchControl = new google.search.CustomSearchControl('{{ google_custom_search_id|escapejs }}');
              customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
              var options = new google.search.DrawOptions();
              options.setSearchFormRoot('cse-search-form');
              customSearchControl.draw('cse', options);
            }, true);
          </script>
        </div>
      {% endif %}
    </div>

    <div id="menu-header">
      <div id="menu-container" class="table">
        <div class="table-row">
          <div class="table-cell">
            <ul class="menu">
              {% show_menu %}
              {% if user.username %}
              <li><a href="/logout">{% t "Keluar" %} {{ user.username }}</a>
              {% else %}
              <li {% if request.path == "/login/" %}class="active-menu-item"{% endif %}><a href="/login">{% t "Masuk" %}</a>
              {% endif %}
            </ul>
          </div>
          <div class="table-cell">
              <ul class="menu" id="menu-lang">
                  {% show_menu_lang %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div id="content" class="column">
        {% block content-header %}
          {% if error %}<div class="error">{% t error %}</div>{% endif %}
          {% if info %}<div class="info">{% t info %}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{% t message %}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        <div id="cse" style="width:100%; display:inline;"></div>

        {% block content %}{% endblock %}
      </div>

      <div id="sidebar" class="column">
        {% block sidebar %}
          {% show_block 'sidebar' %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <p>
      {% t "Hak cipta" %} {% now "Y" %} <strong>{{ site_copyright }}</strong><br />
      </p>
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
