{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <form method="post" name="form1">
        <label>Masukkan nomor handphone:</label>
        <div><input name="msisdn" value="{{ msisdn }}"></div>
        <div class="description">Contoh: 08179140068, +628179140068</div>
        <input type="submit" class="form-submit" value="Lihat wilayahnya">
    </form>
    <div class="highlight">{{ wilayah }}</div>
{% endblock %}

{% block js %}
<script>
    document.form1.msisdn.focus();
</script>
{% endblock %}
